@import "functions";

// ========== Viewport break points ==========

$viewportWidthPhone: 540px;
$viewportWidthMinitab: 760px;
$viewportWidthTablet: 900px;
$viewportWidthDesktop: 1200px;

$pageWidth: 900px;   // Set to 0px for full-width with horizontal padding
$pageWidthPadding: 15px;

// ========== Animations ==========

$animationDuration: 0.2s;
$animationFunction: ease;

// ========== Typography ==========

// System fonts for Windows 7, Android 4, iOS 9/macOS 10.11, iOS 7/macOS 10.10, macOS 10.0-10.9
$defaultFontFamily: "Segoe UI", "Roboto", "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
// TODO: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$monospaceFontFamily: Consolas, monospace;
$defaultFontSize: 14px;
$monospaceFontSize: 13px;
$defaultLineHeight: 1.4;

$headingWeight: 600;   // Semibold is better for Segoe UI; effectively 700 on Android

$darkBackground: #303030;
$darkTextColor: #f0f0f0;

$linkColor: #2755dd;
$linkHoverColor: darken($linkColor, 25%);
$darkLinkColor: #91acff;
$darkLinkHoverColor: lighten($darkLinkColor, 20%);

$tableGridColor: #d8d8d8;
$tableHeaderBackground: #f4f4f4;
$darkTableGridColor: #585858;
$darkTableHeaderBackground: #303030;

// ========== Messages ==========

$criticalBackground: #a11331;
$criticalColor: #ffffff;
$criticalLinkColor: #afc3ff;
$criticalLinkHoverColor: lighten($criticalLinkColor, 25%);
$errorBackground: #c44818;
$errorColor: #ffffff;
$errorLinkColor: #afc3ff;
$errorLinkHoverColor: lighten($errorLinkColor, 25%);
$warningBackground: #f3d661;
$warningColor: #000000;
$warningLinkColor: $linkColor;
$warningLinkHoverColor: $linkHoverColor;
$informationBackground: #b8dff6;
$informationColor: #000000;
$informationLinkColor: $linkColor;
$informationLinkHoverColor: $linkHoverColor;
$successBackground: #c8f39d;
$successColor: #000000;
$successLinkColor: $linkColor;
$successLinkHoverColor: $linkHoverColor;

$darkCriticalBackground: $criticalBackground;
$darkCriticalColor: $criticalColor;
$darkCriticalLinkColor: $criticalLinkColor;
$darkCriticalLinkHoverColor: $criticalLinkHoverColor;
$darkErrorBackground: $errorBackground;
$darkErrorColor: $errorColor;
$darkErrorLinkColor: $errorLinkColor;
$darkErrorLinkHoverColor: $errorLinkHoverColor;
$darkWarningBackground: #9e800c;
$darkWarningColor: #ffffff;
$darkWarningLinkColor: $darkLinkColor;
$darkWarningLinkHoverColor: $darkLinkHoverColor;
$darkInformationBackground: #1571a9;
$darkInformationColor: #ffffff;
$darkInformationLinkColor: $darkLinkColor;
$darkInformationLinkHoverColor: $darkLinkHoverColor;
$darkSuccessBackground: #4b8610;
$darkSuccessColor: #ffffff;
$darkSuccessLinkColor: $darkLinkColor;
$darkSuccessLinkHoverColor: $darkLinkHoverColor;

// ========== Images ==========

$imageSubtitleColor: #666666;

// ========== Form ==========

$disabledLabelColor: #a0a0a0;
$darkDisabledLabelColor: #a0a0a0;

$validationErrorText: #ff0000;
$validationErrorBackground: #ffdddd;
$darkValidationErrorText: #ff0000;
$darkValidationErrorBackground: #ffdddd;

$textboxBorder: #cccccc;
$textboxFocusBorder: #999999;
$textboxDisabledBorder: #e4e4e4;
$textboxBackground: #ffffff;
$textboxColor: #000000;
$textboxDisabledColor: #a0a0a0;
$inputLabelBackground: #f4f4f4;
$darkTextboxBorder: #707070;
$darkTextboxFocusBorder: #999999;
$darkTextboxDisabledBorder: #505050;
$darkTextboxBackground: $darkBackground;
$darkTextboxColor: $darkTextColor;
$darkTextboxDisabledColor: #808080;
$darkInputLabelBackground: lighten($darkBackground, 10%);

$buttonBackground: #d8d8d8;
$buttonHoverBackground: darken($buttonBackground, 8%);
$buttonPressedBackground: darken($buttonBackground, 20%);
$buttonDisabledBackground: lighten($buttonBackground, 30%);
$buttonColor: #000000;
$buttonPressedColor: #000000;
$buttonDisabledColor: #808080;
$darkButtonBackground: #606060;
$darkButtonHoverBackground: lighten($darkButtonBackground, 12%);
$darkButtonPressedBackground: lighten($darkButtonBackground, 25%);
$darkButtonDisabledBackground: darken($darkButtonBackground, 35%);
$darkButtonColor: $darkTextColor;
$darkButtonPressedColor: $darkTextColor;
$darkButtonDisabledColor: #a0a0a0;

$buttonDefaultBackground: #2755dd;
$buttonDefaultHoverBackground: darken($buttonDefaultBackground, 15%);
$buttonDefaultPressedBackground: darken($buttonDefaultBackground, 35%);
$buttonDefaultColor: #ffffff;
$buttonDefaultPressedColor: #ffffff;
$darkButtonDefaultBackground: $buttonDefaultBackground;
$darkButtonDefaultHoverBackground: darken($darkButtonDefaultBackground, 15%);
$darkButtonDefaultPressedBackground: darken($darkButtonDefaultBackground, 35%);
$darkButtonDefaultColor: #ffffff;
$darkButtonDefaultPressedColor: #ffffff;

$buttonCautionBackground: $errorBackground;
$buttonCautionHoverBackground: darken($buttonCautionBackground, 10%);
$buttonCautionPressedBackground: darken($buttonCautionBackground, 30%);
$buttonCautionColor: #ffffff;
$buttonCautionPressedColor: #ffffff;
$darkButtonCautionBackground: $errorBackground;
$darkButtonCautionHoverBackground: darken($darkButtonCautionBackground, 10%);
$darkButtonCautionPressedBackground: darken($darkButtonCautionBackground, 30%);
$darkButtonCautionColor: #ffffff;
$darkButtonCautionPressedColor: #ffffff;

$buttonTransparentBackground: transparent;
$buttonTransparentHoverBackground: rgba(0, 0, 0, 0.07);
$buttonTransparentPressedBackground: $buttonPressedBackground;
$buttonTransparentColor: $linkColor;
$buttonTransparentPressedColor: $buttonPressedColor;
$darkButtonTransparentBackground: transparent;
$darkButtonTransparentHoverBackground: rgba(0, 0, 0, 0.07);
$darkButtonTransparentPressedBackground: $darkButtonPressedBackground;
$darkButtonTransparentColor: $darkLinkColor;
$darkButtonTransparentPressedColor: $darkButtonPressedColor;

$buttonGroupSeparatorColor: $buttonHoverBackground;
$buttonGroupDisabledSeparatorColor: lighten($buttonBackground, 7%);
$darkButtonGroupSeparatorColor: $darkButtonHoverBackground;
$darkButtonGroupDisabledSeparatorColor: darken($darkButtonBackground, 10%);

$checkboxPressedBackground: $buttonBackground;
$darkCheckboxPressedBackground: $darkButtonBackground;

$textInputs: "input:not([type]), input[type^=date], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea, select";
$buttonInputs: "button, input[type=button], input[type=color], input[type=image], input[type=reset], input[type=submit]";

// ========== Layout ==========

// Tabs

$tabsBorderColor: #d8d8d8;
$tabsActiveHeaderBackground: transparent;
$tabsInactiveHeaderBackground: #f4f4f4;
$tabsInactiveHeaderHoverBackground: #fafafa;
$tabsInactiveHeaderPressedBackground: darken($tabsInactiveHeaderBackground, 15%);
$tabsPageBackground: transparent;

// Accordion

$accordionHeaderBackground: #d8d8d8;
$accordionHeaderHoverBackground: darken($accordionHeaderBackground, 8%);
$accordionHeaderPressedBackground: darken($accordionHeaderBackground, 20%);
$accordionHeaderColor: #000000;
$accordionExpandedHeaderBackground: #f0f0f0;
$accordionExpandedHeaderHoverBackground: darken($accordionExpandedHeaderBackground, 5%);
$accordionExpandedHeaderPressedBackground: darken($accordionExpandedHeaderBackground, 15%);
$accordionExpandedHeaderColor: #000000;

// Menu

$menuBackground: $buttonBackground;
$menuColor: $buttonColor;
$menuHoverBackground: $buttonHoverBackground;
$menuHoverColor: $buttonColor;
$menuActiveBackground: $buttonPressedBackground;
$menuActiveColor: $buttonColor;
$menuOpenBackground: $buttonHoverBackground;
$menuOpenColor: $buttonColor;

$submenuBackground: $inputLabelBackground;
$submenuColor: $menuColor;
$submenuHoverBackground: darken($submenuBackground, 8%);
$submenuHoverColor: $submenuColor;
$submenuActiveBackground: $buttonPressedBackground;
$submenuActiveColor: $submenuColor;
$submenuOpenBackground: $submenuHoverBackground;
$submenuOpenColor: $submenuHoverColor;

$navMenuBackground: #505050;
$navMenuColor: #ffffff;
$navMenuHoverBackground: #686868;
$navMenuHoverColor: #ffffff;
$navMenuActiveBackground: #808080;
$navMenuActiveColor: #ffffff;
$navMenuOpenBackground: #606060;
$navMenuOpenColor: #ffffff;

$navSubmenuBackground: $navMenuBackground;
$navSubmenuColor: $navMenuColor;
$navSubmenuHoverBackground: $navMenuHoverBackground;
$navSubmenuHoverColor: $navMenuHoverColor;
$navSubmenuActiveBackground: $navMenuActiveBackground;
$navSubmenuActiveColor: $navMenuActiveColor;
$navSubmenuOpenBackground: $navMenuOpenBackground;
$navSubmenuOpenColor: $navMenuOpenColor;

// ========== Slider ==========

$sliderWidth: 10px;   // Width of the track bar
$sliderMargin: 8px;   // Touchable extra width besides the visible track bar
$sliderHandleWidth: 16px;   // Width of the draggable handle
$sliderHandleLength: 8px;   // Length of the draggable handle in drag direction

$sliderBackground: #dddddd;
$sliderRangeBackground: #69ce36;
$sliderHandleBackground: #808080;
$sliderHandleHoverBackground: #707070;
$sliderHandlePressedBackground: #505050;
$sliderSmallTickColor: #cccccc;
$sliderLargeTickColor: #999999;
$sliderTickLabelFontSize: 0.85em;

$sliderDisabledBackground: #eeeeee;
$sliderDisabledHandleBackground: #aaaaaa;
$sliderDisabledSmallTickColor: #dddddd;
$sliderDisabledLargeTickColor: #bbbbbb;

// ========== Progress bar ==========

$progressColor: #808080;
$progressNoBorderBackground: #f4f4f4;
$progressErrorColor: #c44818;
$progressWarningColor: #dfb511;
$progressSuccessColor: #6ec418;

// ========== Selectable ==========

$selectedBackground: rgba(#1db0ff, 0.4);
$selectedColor: $textboxColor;
$selectableHoverBackground: rgba(#1db0ff, 0.1);
$selectableHoverColor: $textboxColor;
