@import "../settings";

.ff-carousel
{
	overflow-x: hidden;
	position: relative;
}

.ff-carousel > *
{
	position: absolute;
	top: 0;
	left: 0;
}

.ff-carousel-indicator
{
	text-align: center;

	> span
	{
		display: inline-block;
		cursor: pointer;
		padding: 7px;
		line-height: 0px;

		> span
		{
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background: rgba(0, 0, 0, 0.1);
			transition: background $animationDuration $animationFunction;
		}
		&:hover > span,
		&.active > span
		{
			background: rgba(0, 0, 0, 0.3);
			transition: background 0s;
		}
	}
}

.small-indicator .ff-carousel-indicator
{
	line-height: 10px;

	> span
	{
		padding: 4px;

		> span
		{
			width: 6px;
			height: 6px;
		}
	}
}

.inline-indicator .ff-carousel-indicator
{
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 200;
}

.dark-indicator .ff-carousel-indicator > span
{
	> span
	{
		background: rgba(255, 255, 255, 0.15);
	}
	&:hover > span,
	&.active > span
	{
		background: rgba(255, 255, 255, 0.5);
	}
}
