@import "../settings";

.ff-carousel
{
	@include user-select(none);
	overflow-x: hidden;
	position: relative;
}

.ff-carousel > *
{
	position: absolute;
	top: 0;
	left: 0;
}

.ff-carousel-indicator
{
	text-align: center;

	> span
	{
		display: inline-block;
		cursor: pointer;
		padding: 7px;
		line-height: 0px;

		> span
		{
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: $carouselIndicatorBackground;
			transition: background-color $animationDuration $animationFunction;
		}
		&:hover > span,
		&.active > span
		{
			background-color: $carouselIndicatorActiveBackground;
			transition: background-color 0s;
		}
	}
}

.small-indicator .ff-carousel-indicator
{
	line-height: 10px;

	> span
	{
		padding: 4px;

		> span
		{
			width: 6px;
			height: 6px;
		}
	}
}

.inline-indicator .ff-carousel-indicator
{
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 200;
}

// Invert in dark theme or when explicitly set
.dark,
.inverted-indicator
{
	.ff-carousel-indicator > span
	{
		> span
		{
			background-color: $darkCarouselIndicatorBackground;
		}
		&:hover > span,
		&.active > span
		{
			background-color: $darkCarouselIndicatorActiveBackground;
		}
	}
}

// Invert back to normal
.dark .inverted-indicator
{
	.ff-carousel-indicator > span
	{
		> span
		{
			background-color: $carouselIndicatorBackground;
		}
		&:hover > span,
		&.active > span
		{
			background-color: $carouselIndicatorActiveBackground;
		}
	}
}
