@import "../settings";

$_defaultLineHeight: round($defaultFontSize * $defaultLineHeight);

%message
{
	padding: 6px 10px;
	position: relative;
	transition: background $animationDuration $animationFunction, color $animationDuration $animationFunction;

	&.closable
	{
		padding-right: 31px;
	}
	&.ff-closed
	{
		transform-origin: 50% 0%;
		transition: transform $animationDuration $animationFunction, opacity $animationDuration $animationFunction;
		transform: scaleY(0);
		opacity: 0;
	}

	&.icon
	{
		padding-left: 35px;

		> i:empty,
		> .icon
		{
			display: block;
			float: left;
			line-height: $_defaultLineHeight;
			margin-left: -26px;
			width: 20px;
			text-align: center;
		}
	}
}

p.critical,
div.critical
{
	@extend %message;
	background: $criticalBackground;
	color: $criticalColor;

	a
	{
		color: $criticalLinkColor;
		&:hover { color: $criticalLinkHoverColor; }
	}

	.dark &
	{
		background: $darkCriticalBackground;
		color: $darkCriticalColor;
		a
		{
			color: $darkCriticalLinkColor;
			&:hover { color: $darkCriticalLinkHoverColor; }
		}
	}
}
p.error,
div.error
{
	@extend %message;
	background: $errorBackground;
	color: $errorColor;

	a
	{
		color: $errorLinkColor;
		&:hover { color: $errorLinkHoverColor; }
	}

	.dark &
	{
		background: $darkErrorBackground;
		color: $darkErrorColor;
		a
		{
			color: $darkErrorLinkColor;
			&:hover { color: $darkErrorLinkHoverColor; }
		}
	}
}
p.warning,
div.warning
{
	@extend %message;
	background: $warningBackground;
	color: $warningColor;

	a
	{
		color: $warningLinkColor;
		&:hover { color: $warningLinkHoverColor; }
	}

	.dark &
	{
		background: $darkWarningBackground;
		color: $darkWarningColor;
		a
		{
			color: $darkWarningLinkColor;
			&:hover { color: $darkWarningLinkHoverColor; }
		}
	}
}
p.information,
div.information
{
	@extend %message;
	background: $informationBackground;
	color: $informationColor;

	a
	{
		color: $informationLinkColor;
		&:hover { color: $informationLinkHoverColor; }
	}

	.dark &
	{
		background: $darkInformationBackground;
		color: $darkInformationColor;
		a
		{
			color: $darkInformationLinkColor;
			&:hover { color: $darkInformationLinkHoverColor; }
		}
	}
}
p.success,
div.success
{
	@extend %message;
	background: $successBackground;
	color: $successColor;

	a
	{
		color: $successLinkColor;
		&:hover { color: $successLinkHoverColor; }
	}

	.dark &
	{
		background: $darkSuccessBackground;
		color: $darkSuccessColor;
		a
		{
			color: $darkSuccessLinkColor;
			&:hover { color: $darkSuccessLinkHoverColor; }
		}
	}
}
p.message,
div.message
{
	@extend %message;

	&.transparent
	{
		padding: 0;
		&.icon
		{
			padding-left: 26px;
		}
	}
}

.ff-message-close-button
{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 25px;
	height: $_defaultLineHeight + 12px;   // line height + message's vertical padding
	padding-top: 4px;   // message's top padding - 2px to compensate the lower x form
	color: inherit !important;
	text-decoration: none !important;
	opacity: 0.6;
	text-align: center;
	font-size: 19px;
	transition: opacity $animationDuration $animationFunction;

	&::after
	{
		display: block;
		content: '\D7';
	}
	&:hover
	{
		color: inherit;
		opacity: 1;
		transition: opacity 0s;
	}
}
