@import "../settings";

@if $pageWidth > 0
{
	.page-width
	{
		max-width: $pageWidth;
		@media (max-width: $pageWidth + 2 * $pageWidthPadding)
		{
			max-width: calc(100% - #{2 * $pageWidthPadding});
		}
	}
	.full-page-width
	{
		margin-left: $pageWidthPadding;
		max-width: calc(100% - #{2 * $pageWidthPadding});
	}

	html.center
	{
		// Force scrollbar to maintain consistent centering on short and long pages
		overflow-y: scroll;

		.page-width
		{
			margin-left: auto;
			margin-right: auto;
		}

		@media (max-width: $pageWidth + 2 * $pageWidthPadding)
		{
			overflow-y: inherit;
		}
	}
}
@if $pageWidth == 0
{
	.page-width,
	.full-page-width
	{
		margin-left: $pageWidthPadding;
		max-width: calc(100% - #{2 * $pageWidthPadding});
	}
}
