@import "../settings";

html.center
{
	overflow-y: scroll;
	.page-width
	{
		margin: 0 auto;
		padding: 0;
	}
	@media (max-width: $pageWidth + 2 * $smallPageWidthPadding)
	{
		overflow-y: inherit;
		.page-width
		{
			margin: 0;
			padding: 0 $smallPageWidthPadding;
		}
	}
}

.page-width
{
	@if $pageWidth > 0
	{
		max-width: $pageWidth;
		@media (max-width: $pageWidth + 2 * $smallPageWidthPadding)
		{
			max-width: none;
		}
	}
	@if $pageWidth == 0
	{
		padding-left: $smallPageWidthPadding;
		padding-right: $smallPageWidthPadding;
	}
}
