@import "../settings";

// Use flexbox for the tab page contents to allow stretching and scrolling
.tabs.flex
{
	display: flex;
	flex-direction: column;
	overflow: hidden;   // Required all the way through the hierarchy to not extend all containers to the scroll size
}

.ff-tab-headers
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	a
	{
		text-decoration: none;
		border-top: 1px solid $tabsBorderColor;
		border-left: 1px solid $tabsBorderColor;
		border-right: 1px solid $tabsBorderColor;
		margin-top: 1px;   // Don't extend outside the tabs container for the overflow:hidden
		margin-right: -1px;
		padding: 2px 10px;
		
		&:link,
		&:visited
		{
			color: black;
			&:hover
			{
				color: black;
			}
		}
		&:focus
		{
			outline-offset: -3px;
		}
		&:last-child
		{
			margin-right: 0;
		}
		&.active
		{
			margin-top: 0;
			padding-top: 3px;
			background: $tabsActiveHeaderBackground;
			z-index: 10;
		}
		&:not(.active)
		{
			border-bottom: solid 1px $tabsBorderColor;
			background: $tabsInactiveHeaderBackground;
			box-shadow: 0 -5px 3px -5px rgba(0, 0, 0, 0.2) inset;
			&:hover
			{
				background: $tabsInactiveHeaderHoverBackground;
			}
			&:active
			{
				background: $tabsInactiveHeaderPressedBackground;
			}
		}
	}
	&::after
	{
		content: '';
		flex-grow: 1;
		border-bottom: 1px solid $tabsBorderColor;
	}
}

.ff-tab-pages
{
	border-left: 1px solid $tabsBorderColor;
	border-right: 1px solid $tabsBorderColor;
	border-bottom: 1px solid $tabsBorderColor;
	padding: 10px;
	background: $tabsPageBackground;

	> div
	{
		display: none;
		&.active
		{
			display: block;
		}
	}
}

.tabs.flex > .ff-tab-pages
{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	> div.active
	{
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
}

.tabs.same-height > .ff-tab-pages
{
	display: -ms-grid;
	display: grid;

	> div
	{
		display: block;
		visibility: hidden;
		-ms-grid-row: 1;
		grid-row: 1;
		-ms-grid-column: 1;
		grid-column: 1;
		&.active
		{
			visibility: visible;
		}
	}
}
