@import "../settings";

$_defaultLineHeight: round($defaultFontSize * $defaultLineHeight);

.dark
{
	background: $darkBackground;
	color: $darkTextColor;
}

// ========== Fonts ==========

html,
body,
input,
button,
select,
textarea,
kbd
{
	font-family: $defaultFontFamily;
	font-size: $defaultFontSize;
	line-height: $_defaultLineHeight;
}

code,
tt,
pre,
samp,
textarea.monospace
{
	font-family: $monospaceFontFamily;
	font-size: $monospaceFontSize;
}

// ========== Headers ==========

h1
{
	font-size: round($defaultFontSize * 1.9);
	line-height: round($defaultFontSize * 1.9 * $defaultLineHeight);
	font-weight: $headingWeight;
	margin: 28px 0 24px;
}
h2
{
	font-size: round($defaultFontSize * 1.5);
	line-height: round($defaultFontSize * 1.5 * $defaultLineHeight);
	font-weight: $headingWeight;
	margin: 24px 0 1rem;
}
h3
{
	font-size: round($defaultFontSize * 1.2);
	line-height: round($defaultFontSize * 1.2 * $defaultLineHeight);
	font-weight: $headingWeight;
	margin: 20px 0 1rem;
}
h4
{
	font-size: round($defaultFontSize * 1.1);
	line-height: round($defaultFontSize * 1.1 * $defaultLineHeight);
	font-weight: $headingWeight;
	margin: 1rem 0;
}
h5,
h6
{
	font-size: $defaultFontSize;
	font-weight: $headingWeight;
	margin: 1rem 0;
}

// ========== Paragraphs ==========

p,
div.p,
table.p
{
	margin: 1em 0;
}

p.left-align,
div.left-align
{
	text-align: left;
}

p.right-align,
div.right-align
{
	text-align: right;
}

p.center,
div.center
{
	text-align: center;
}

p.justify,
div.justify
{
	text-align: justify;
}

// ========== Links ==========

a
{
	color: $linkColor;
	text-decoration: none;
	&:hover
	{
		color: $linkHoverColor;
	}
	.dark &
	{
		color: $darkLinkColor;
		text-decoration: none;
		&:hover
		{
			color: $darkLinkHoverColor;
		}
	}
}

// ========== Tables ==========

table
{
	border: 1px solid $tableGridColor;
	border-collapse: collapse;
	.dark &
	{
		border-color: $darkTableGridColor;
	}

	th,
	td
	{
		border: 1px solid $tableGridColor;
		padding: 3px 6px;
		.dark &
		{
			border-color: $darkTableGridColor;
		}
	}
	th
	{
		background: $tableHeaderBackground;
		text-align: left;
		.dark &
		{
			background: $darkTableHeaderBackground;
		}
	}

	&.compact
	{
		th,
		td
		{
			border: none;
			padding: 0 6px 0 0;
		}
		td:last-child
		{
			padding-right: 0;
		}
	}
}

table.no-border
{
	border: none;

	th:first-child,
	td:first-child
	{
		border-left: none;
	}
	th:last-child,
	td:last-child
	{
		border-right: none;
	}
	tr:first-child > th,
	tr:first-child > td
	{
		border-top: none;
	}
	tr:last-child > th,
	tr:last-child > td
	{
		border-bottom: none;
	}
}

table.no-vgrid,
table.no-grid
{
	th,
	td
	{
		border-left: none;
		border-right: none;
	}
}
table.no-hgrid,
table.no-grid
{
	th,
	td
	{
		border-top: none;
		border-bottom: none;
	}
}

table.no-outer-padding
{
	td:first-child
	{
		padding-left: 0;
	}
	td:last-child
	{
		padding-right: 0;
	}
}

table.no-padding
{
	th,
	td
	{
		padding: 0;
	}
}

table.full-width
{
	width: 100%;
}

table.center
{
	th,
	td
	{
		text-align: center;
	}
}

th.left,
td.left
{
	text-align: left !important;
}
th.center,
td.center
{
	text-align: center !important;
}
th.right,
td.right
{
	text-align: right !important;
}

// ========== Others ==========

hr
{
	clear: both;
	margin: 1rem 0;
	border: none;
	border-top: 1px solid $tableGridColor;
	&.wide
	{
		margin: 2rem 0;
	}
	.dark &
	{
		border-top-color: $darkTableGridColor;
	}
}

code
{
	background: #eeeeee;
	padding: 0 2px;
	.dark &
	{
		background: #484848;
	}
}

kbd
{
	display: inline-block;
	border: 1px solid #ccc;
	border-color: #ddd #bbb #aaa #ccc;
	border-radius: 2px;
	line-height: calc(#{$_defaultLineHeight} - 3px);
	background: #f6f6f6;
	padding: 0 2px 1px;
}

.nowrap
{
	white-space: nowrap;
}

span.vertical
{
	-ms-writing-mode: tb-rl; 
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

// ========== Loading indicator ==========

i.loading
{
	display: inline-block;
	font-size: 32px;
	width: 1em;
	height: 1em;

	&::before
	{
		display: block;
		content: '';
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		border-width: 0.15em;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
		animation: loading 0.8s linear;
		animation-iteration-count: infinite;
	}
	&.inverted::before
	{
		border-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.15);
	}

	&.small { font-size: 16px; }
	&.medium { font-size: 24px; }
	&.large { font-size: 64px; }
}

@keyframes loading
{
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

div.icon-label
{
	text-align: center;
	i:empty
	{
		display: block;
		margin: 0 auto 4px;
	}
}
